
html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.box {
	width: 400px;
	height: 400px;
	background-color: rgba(0,0,0,0.4);
	margin: 0 auto;
	padding: 40px;
	color: white;
	margin-top: 140px;
	text-align: center;
	border: 1px solid black; 
}

.prof-pic {
		border-radius: 50%;
		height: 200px;
		width: 200px;

}

h1 {
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}

p {
	font-weight: 200;
	letter-spacing: 1;
}


.sicons {
	font-size: 40px;

}
.sicons a {
	color: white;
}