

html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.box {
	width: 400px;
	height: 400px;
	background-color: rgba(0,0,0,0.4);
	margin: 0 auto;
	padding: 40px;
	color: white;
	margin-top: 140px;
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid black; 
}

.prof-pic {
		border-radius: 50%;
		height: 200px;
		width: 200px;
}

h1 {
	font-weight: 100;
	letter-spacing: 4;
	font-size: 40px;
}

p {
	font-weight: 200;
	letter-spacing: 1;
}


.sicons {
	font-size: 35px;

}
.sicons a {
	color: white;
}

h2 {
	color: black;
	margin-top: 70px;
	margin-left: 40px;
	text-align: left;
}


.scroll2 {
	background: url("../images/parallax.jpg") repeat fixed 50%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.scroll2_in {
	padding-top: 10%;
	padding-bottom: 10%;
}